.container{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px !important;
}

@media screen and (max-width: 470px){
    .card{
        width: 300px !important;
    }
}
@media screen and (max-width: 350px) {
    .card{
        width: 250px !important;
    }
}